body {
	margin: 0;
	font-family: sans-serif;
	background: #222;
	color: #ddd;
	text-align: center;
}

nav {
	margin-bottom: 30px;
}

.App {
	width: 960px;
	margin: 0 auto;
}

h2 {
	color: #006a71;
	font-size: 4em;
	letter-spacing: 2px;
}

button {
	margin: 0 10px;
	background: transparent;
	border: #222;
	padding: 10px;
	color: #006a71;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
}

button:hover {
	color: #68b0ab;
}

table {
	margin: auto;
}

th {
	color: #f9813a;
	margin-bottom: 5px;
}

.content {
	text-align: left;
}

.card {
	padding: 8px 16px;
	background: #1b1b1b;
	margin: 16px 0;
	border-radius: 20px;
}

.card p {
	margin: 6px 0;
	color: #999;
}

.card h3 {
	margin: 10px 0;
	color: #ffff57;
}

button:disabled {
	opacity: 0.2;
	cursor: not-allowed;
}
